{% extends "base.j2" %}

{% block page %}

	<!-- Pie Chart -->
	<div class="col-xl-4 col-lg-5">
		<div class="card shadow mb-4" style="min-height: 50vh;">
			<!-- Card Header - Dropdown -->
			<div
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Predicción</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<div class="align-middle">
					<h5 class="card-title">Selecciona y carga un archivo de eeg</h5>
				</div>
			</div>
		</div>
	</div>
                    
			
{% endblock %}

