{% extends "base.j2" %}

{% block page %}


	<!-- Pie Chart -->
	<div class="col-xl-4 col-lg-5">
		<div class="card shadow mb-4" style="min-height: 50vh;">
			<!-- Card Header - Dropdown -->
			<div
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Predicción</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<div class="resultado">
                    {% if prediction == 1 %}
                        <h5 class="card-title">El sistema detectó un ataque epilepsia.</h5>
                        <img src="{{statics}}/img/positivo.svg" width="50%" height="50%">
                    {% elif prediction == 0 %}
                        <h5 class="card-title">El sistema no detectó anormalidad.</h5>
                        <img src="{{statics}}/img/negativo.svg" width="50%" height="50%">
                    {% else %}
                        <h5 class="card-title">Error en archivo</h5>
                        <img src="{{statics}}/img/error.svg" width="50%" height="50%">
                    {% endif %}
                </div>
			</div>
		</div>
	</div>
{% endblock %}